.App {
  padding: 5%;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: none;
  /* color: white; */
}
.App * {
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}
